name: Lint and Test

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: [ubuntu-latest, windows-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ['3.10', '3.11', '3.12']

    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Check style
      run: |
        tox -e style

  test:
    runs-on: [ubuntu-latest, windows-latest]
    strategy:
      matrix:
        python-version: ['3.11', '3.12']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions

    - name: Run tests
      run: |
        tox -e py${{ matrix.python-version }}
    - name: Test with tox
      run: tox
